* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #navbar {
    background-color: #340c80;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0% 7%;
    opacity: 0.8;
    transition: 0.6s;
    z-index: 10;
  }
  #navbar:hover {
    opacity: 1;
  }
  .link {
    text-decoration: none;
    font-size: 20px;
    color: #110e10;
    font-weight: 650;
    cursor: pointer;
  }
  
  .link:hover {
    color: #0c0d0d;
  }
  #logoutBtn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #0a0b0b;
    font-weight: 650;
    cursor: pointer;
  }